*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    text-align: center;
    margin: 15px 0;
}

header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

header p{
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    font-family: monospace;
    font-size: 14px;
}

span{
    background: cadetblue;
    color: white;
    padding: 0px 5px;
    border-radius: 5px;
    margin-left: 5px;
}

main{
    background: url(./ð€ð§ð¢ð¦ðž\ ð€ðžð¬ð­ð¡ðžð­ð¢ðœð¬\ \ _\ @ð€ð­ð¢ð§ð²ðƒð¨ð«ð¤ð².jpeg);
    background-size: 90%;
    background-position: top;
    position: relative;
}

#section1{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
}

form{
    border: solid 2px;
    width: fit-content;
    padding: 30px 40px;
    margin: auto;
    border-radius: 20px;
    background-color: #f3efe0de;
    box-shadow: 5px 5px 1px #232528;
    color: #232528;
}

label{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input::placeholder{
    color: #468189;
}

input{
    height: 30px;
    width: 350px;
    margin-top: 3px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-bottom: solid 2px #468189;
    padding-left: 5px;
    color: #232528;
}

#submitBtn{
    width: 150px;
    border-radius: 20px;
    border: solid 2px #468189;
    box-shadow: 3px 3px 1px #468189;
    margin-top: 10px;
    color: #232528;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 3px;
    margin-left: 27%;
    transition: all 0.1s ease;
}

#submitBtn:hover{
    cursor: pointer;
}

#submitBtn:active{
    transform: scale(0.9);
}

#scroll-btn{
    height: 57px;
    width: 57px;
    position: absolute;
    right: 20px;
    bottom: 57%;
    cursor: pointer;
}

#scroll-btn img{
    height: 100%;
    width: 100%;
}

main>hr{
    height: 5px;
    background-color: white;
    border: none;
}

#section2{
    height: 99vh;
    background: url(./wp1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 75px;
}

.container{
    overflow-y: auto;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    height: 90%;
}

.container::-webkit-scrollbar-track
{
	border: 1px solid black;
    background-color: #F5F5F5;	
    border-radius: 5px;
}

.container::-webkit-scrollbar
{
	width: 8px;
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #468189;
}

#stdTable{
    background-color: #f3efe0cc;
    border: solid 1px;
    border-collapse: collapse;
    text-align: center;
    font-size: 17px;
    margin-right: 1px;
}

th, td{
    border: solid 1px;
    padding: 5px 35px;
}

th{
    color: #232528;
}

td{
    color: #468189;
}

.editBtn{
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 1px 10px;
    cursor: pointer;
}

.deleteBtn{
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 1px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.editBtnImg{
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

.deleteBtnImg{
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

#changeBtn{
    width: 150px;
    border-radius: 20px;
    border: solid 2px #468189;
    box-shadow: 3px 3px 1px #468189;
    margin-top: 10px;
    color: #232528;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 3px;
    margin-left: 27%;
    transition: all 0.1s ease;
    cursor: pointer;

    display: none;
}

a{
    text-decoration: none;
}

footer{
    padding: 2px 0;
    background-color: white;
    color: cadetblue;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}